@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  height: 550px;
}

.form-control {
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e0e0e0;
}

.banner {
  margin-top: 4rem;
}

.banner .titulo_informacion {
  margin-left: 15px;
  color: #000000;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

/*BOOSTRAP*/
.footer {
  color: #7c7c7c;
}

.parte_arriba {
  margin-bottom: 3rem;
  height: 2rem;
  margin-left: 0%;
}

.parte_arriba .bajar_este {
  margin-top: 4rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e0e0e0;
}

.comienzo_pagina {
  margin-left: 3.7rem;
}

.inicio .inicio__titulo {
  color: black;
  font-size: 7rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: end;
  margin-right: 3.2rem;
  margin-top: 7rem;
  margin-bottom: 1px;
}

.inicio .inicio__descripcion {
  color: black;
  font-weight: normal;
  text-transform: uppercase;
  text-align: end;
  margin-right: 3.2rem;
}

.work {
  margin-bottom: 2rem;
  margin-top: 7rem;
  margin-left: 1rem;
}

.work .titulo_work {
  font-weight: bolder;
  font-size: 17px;
}

.cards {
  margin-bottom: 2rem;
}

.info {
  margin-top: 30px;
}

.info .info__titulo {
  text-transform: initial;
  color: black;
}

.info .info__titulo:hover {
  color: #613de4;
}

.cajas_inicio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 665px 100px;
      grid-template-columns: 665px 100px;
  margin-top: 8rem;
}

.cajas_inicio .hola_mundo {
  width: 200px;
  color: #000000;
  font-weight: bolder;
  text-align: left;
  font-size: 17px;
}

.cajas_inicio .hola_mundo02 {
  width: 400px;
  color: #000000;
  font-weight: bolder;
  text-align: end;
}

.cajas_inicio .hola_mundo03 {
  width: 300px;
  color: #000000;
  font-weight: normal;
  text-align: left;
  margin-bottom: 6rem;
}

.cajas_inicio .uade_type {
  font-weight: normal;
}

.fondo_imagen {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/c4095973314503.5c05b4cc3da7a.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

/*BOOSTRAP*/
.parte_arriba {
  margin-bottom: 3rem;
  height: 2rem;
}

.parte_arriba .bajar_este {
  margin-top: 4rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e0e0e0;
}

.comienzo_pagina {
  padding-left: 3.7rem;
}

.inicio .inicio__titulo {
  color: black;
  font-size: 8.2vw;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: end;
  padding-right: 3.2rem;
  margin-top: 7rem;
  margin-bottom: 1px;
}

.inicio a:hover {
  color: #202020;
}

.inicio .inicio__descripcion {
  color: black;
  font-weight: normal;
  text-transform: uppercase;
  text-align: end;
  padding-right: 3.2rem;
}

.work {
  margin-bottom: 0rem;
  padding-left: 1rem;
}

.work .titulo_work {
  font-weight: bolder;
  font-size: 17px;
  margin-top: 7rem;
}

.work .subtitulo_work {
  margin-bottom: 0px;
}

.hola_works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6vw 100vw;
      grid-template-columns: 6vw 100vw;
  margin-bottom: 3rem;
}

.hola_works .hola_titulo {
  font-size: 7.4vw;
  font-weight: bold;
  margin-bottom: 0%;
  color: #2b2b2b;
  padding-left: 42vw;
}

.cards {
  margin-bottom: 5rem;
}

.info {
  margin-top: 30px;
}

.info .info__titulo {
  text-transform: initial;
  color: black;
}

.info .info__titulo:hover {
  color: #613de4;
}

.imagenes_work {
  padding-bottom: 5rem;
}

.footer {
  color: #7c7c7c;
}

.cajas_inicio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 57.3vw 1vw;
      grid-template-columns: 57.3vw 1vw;
  margin-top: 8rem;
}

.cajas_inicio .hola_mundo {
  width: 200px;
  color: #000000;
  font-weight: bolder;
  text-align: left;
  font-size: 1.1em;
}

.cajas_inicio .hola_mundo02 {
  width: 20vw;
  color: #000000;
  font-weight: bolder;
  text-align: end;
}

.cajas_inicio .hola_mundo03 {
  width: 20vw;
  color: #000000;
  font-weight: normal;
  text-align: left;
  margin-bottom: 6rem;
}

.cajas_inicio .uade_type {
  font-weight: normal;
}

.carrusel_index {
  margin-bottom: 6rem;
}

.fondo_imagen {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/b1fe5073314503.5c05b4cc3d119.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fondo_work {
  background-color: #ece7e1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.column img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media screen and (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .column img {
    -webkit-filter: grayscale(0) brightness(1);
            filter: grayscale(0) brightness(1);
  }
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: #161616;
  text-decoration: none;
}

p {
  color: #161616;
}

h2 {
  color: #161616;
}

/*BOOSTRAP*/
.fondo_imagen {
  background-color: #e7e2f0;
}

.header {
  margin-bottom: 4rem;
  height: 2rem;
  padding-top: 4rem;
  margin-left: 0%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e0e0e0;
}

.comienzo_pagina {
  margin-left: 3.7rem;
}

.inicio {
  margin-bottom: 2rem;
  padding-top: 5rem;
  display: -ms-grid;
  display: grid;
}

.inicio .inicio__subtitulo {
  color: #161616;
  text-transform: initial;
  margin-bottom: 2rem;
}

.inicio .inicio_parrafo {
  font-size: 1.5rem;
}

hr {
  color: black;
  width: 50%;
  margin: 0 25% 0 25%;
  margin-top: 2.2rem;
}

.años {
  margin-bottom: 2rem;
}

.años .años__titulo {
  font-weight: bold;
}

.años .años__uno:hover {
  color: #613de4;
}

.años .años__dos:hover {
  color: #613de4;
}

.años .años__tres:hover {
  color: #613de4;
}

.formacion_complementaria {
  padding-top: 5rem;
}

.formacion_contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 41.5vw 1vw;
      grid-template-columns: 41.5vw 1vw;
  margin-top: 3rem;
}

.formacion_contenido .parrafo_formacion {
  color: #161616;
  margin-left: 7rem;
  width: 23vw;
}

.formacion_contenido .cuadro_formacion {
  width: 36vw;
}

tr {
  height: 5rem;
  color: #161616;
}

th {
  width: 6rem;
}

.footer {
  margin-top: 5rem;
  color: #ecebeb;
}

.footer p {
  color: #ebebeb;
}
* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

/*BOOSTRAP*/
.parte_arriba {
  margin-bottom: 3rem;
  height: 2rem;
  margin-left: 0%;
}

.parte_arriba .bajar_este {
  margin-top: 4rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e0e0e0;
}

.comienzo_pagina {
  margin-left: 3.7rem;
}

.inicio .inicio__titulo {
  color: black;
  font-size: 7rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: end;
  margin-right: 3.2rem;
  margin-top: 10rem;
  margin-bottom: 1px;
}

.inicio .inicio__descripcion {
  color: black;
  font-weight: normal;
  text-transform: uppercase;
  text-align: end;
  margin-right: 3.2rem;
}

.inicio .hola_mundo02 {
  width: 600px;
  color: #000000;
  font-weight: normal;
  text-align: end;
  margin-left: 28.8rem;
  margin-bottom: 15rem;
}

.footer {
  background-color: black;
  padding: 1rem;
}

.footer p, .footer a, .footer i {
  color: #686868;
}

.footer p, .footer a {
  margin-left: 8.3rem;
}

.footer a:hover {
  color: #613de4;
}

.fondo_imagen {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/b1fe5073314503.5c05b4cc3d119.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*# sourceMappingURL=generales.css.map */