
   * {
    padding: 0;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  /*BOOSTRAP*/
  .parte_arriba {
    margin-bottom: 3rem;
    height: 2rem;
    
    .bajar_este {
      margin-top: 4rem;
    }

  }
  

  .navbar-dark .navbar-nav .nav-link {
    color: #e0e0e0;
  }

  .comienzo_pagina {
    padding-left: 3.7rem;
  }

  .inicio {
        .inicio__titulo {
            color: rgb(0, 0, 0);
            font-size: 7rem;
            font-weight: bolder;
            text-transform: uppercase;
            text-align: end;
            padding-right: 3.2rem;
            margin-top: 7rem;
            margin-bottom: 1px;
        }

        .inicio__descripcion {
          color: rgb(0, 0, 0);
          font-weight: normal;
          text-transform: uppercase;
          text-align: end;
          padding-right: 3.2rem;
        }
  }


  .work{
      margin-bottom: 0rem;
      padding-left: 1rem; 

      .titulo_work {
        font-weight: bolder;
        font-size: 17px;
        margin-top: 7rem;
      }
      .subtitulo_work {
        margin-bottom: 0px;
      }
  }

  .hola_works {
    display: grid;
    grid-template-columns: 6px 100px;

    margin-bottom: 3rem;
    .hola_titulo {
      font-size: 6.3rem;
      font-weight: bold;
      margin-bottom: 0%;
      color: #2b2b2b;
      padding-left: 34.2rem;
    }
  }


  .cards {
      margin-bottom: 5rem;
  }

  .info {
      margin-top: 30px;
        .info__titulo {
            text-transform: initial;
            color: black;
        }
        .info__titulo:hover {
            color: #613de4;
        }
  }
  
  .imagenes_work {
    padding-bottom: 5rem;
  }

  .footer {
    color: rgb(124, 124, 124);
  }

  .cajas_inicio {
    display: grid;
    grid-template-columns: 665px 100px;
    margin-top: 8rem;

    .hola_mundo {
      width: 200px;
      color: #000000;
      font-weight: bolder;
      text-align: left;
      font-size: 17px;
    }

    .hola_mundo02 {
      width: 400px;
      color: #000000;
      font-weight: bolder;
      text-align: end;
    }

    .hola_mundo03 {
      width: 300px;
      color: #000000;
      font-weight: normal;
      text-align: left;
      margin-bottom: 6rem;

    }

    .uade_type {
      font-weight: normal;
    }
  }

  .carrusel_index {
    margin-bottom: 6rem;
  }
  

.fondo_imagen {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/b1fe5073314503.5c05b4cc3d119.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fondo_work {
  background-color: rgb(236, 231, 225);
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}

